.sample-box {
    padding: 8px;
    background-color: lightgray;
}

.sample-box h2 {
    text-align: center

}

.ce-dropdown {
    margin: 2px;
}

.ce-search {
    padding: 8px;
    background-color: grey;
}

.ce-search-bar {
    width: 100%;
    padding: 5px 10px;
    font-size: 24px;

}